* {
    margin: 20px;
    padding: 5px;
    border: none;
    padding-top: 5px;
}
/* body */
body{
    font-family: cursive, sans-serif;
    background-color: hsl(51, 91%, 65%);
    background-image:linear-gradient(62deg, #FBAB7E 20%, #F7CE68 50%, #ffffff 100%);
    font-weight: 300;
}
#p1{
    text-align:left;
    word-wrap: normal;
    text-shadow: 2px 2px #F7CE68 ;
}
p{
    text-align: left;
    word-spacing: 5px;
    word-wrap: normal;
    font-size: large;
}
.home{
    font-family: cursive;
    font-size:smaller;
}

/* header, logo and headings*/


.home-h2{
    text-align: left;
    font-family:cursive,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow:2px 2px #FBAB7E;


}
h1,
 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525
}
#logo{
    font-family: cursive;
    float:left;
    font-size: 200%;
    text-shadow: 2px 2px;
       
}
a {
    text-decoration: none;
    color:#FBAB7E;
    }
/*  navbar */
.navbar {
    overflow: hidden;
    background-color: hsl(51, 91%, 65%);
    position:fixed;
    top: 0;
    width: 100%;
    padding: 10px 12px;
  }
  
  /* navbar links */

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration-style:none;
    letter-spacing: 1px;
      }
      

/* Change background on mouse-over */
.navbar a:hover {
    background: #FBAB7E;
    color:  hsl(51, 91%, 65%);
  }
  

  
