* {
    margin: 10px;
    padding: 5px;
    border: none;
}
/* body */
body{
    font-family: cursive, sans-serif;
    background-color: hsl(51, 91%, 65%);
    background-image:-o-repeating-linear-gradient(62deg, #FBAB7E 20%, #F7CE68 50%, #ffffff 100%);
    font-weight: 300;
}
.home{
    font-family: cursive;
}

/* header*/

#logo{
    font-family: cursive;
}